body{  

    padding :0;
    margin :0;
    background-color:#000000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -ms-user-select:none;
}
html, body {
    height: 100%;
	width:100%;
}
#gameBlock{
    height: 100%;
	width:100%;
}
#turn{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-image:url(../assets/img/orientation.png);
	background-repeat:no-repeat;
    
    /*
    background: url(../assets/img/orientation.png) no-repeat;
    
    */
	background-position: center center;
    background-size:contain;
	display:none;
}
#tap{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color: rgb(255 255 255 / 30%);
	background-image:url(../assets/img/tap.png);
	background-repeat:no-repeat;
    
    /*
    background: url(../assets/img/orientation.png) no-repeat;
    
    */
	background-position: center center;
    background-size:contain;
	display:none;

	backdrop-filter: blur(10px);
}